<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>{{ title }}</title>
</head>

<body>
    <div class="container">


        <div class="box">
            <header>
                <h1>WORK REPORT</h1>
                <div class='header_content'>
                    <div class="header_content_person_info">
                        <p>Name: LastName: </p>
                    </div>
                    <div class="header_content_date">
                        <p>DATE + Calender Week</p>
                    </div>
                </div>
            </header>

            <article>
                <div class="article_report_content_container">

                    <div class="article_report_category_red">
                        <div class="category_red">
                            <p>RED:</p>
                        </div>
                        <div class="entry_red">
                            <p>ENTRY</p>
                        </div>
                    </div>

                    <div class="article_report_category_amber">
                        <div class="category_amber">
                            <p>AMBER:</p>
                        </div>
                        <div class="entry_amber">
                            <p>ENTRY</p>
                        </div>
                    </div>
                    <div class="article_report_category_green">
                        <div class="category_green">
                            <p>GREEN</p>
                        </div>
                        <div class="entry_green">
                            <p>ENTRY</p>


                        </div>
                    </div>
                    <div class="article_report_category_meeting">
                        <div class="category_meeting">
                            <p>Meeting</p>
                        </div>
                        <div class="entry_meeting">
                            <p>ENTRY</p>

                        </div>
                    </div>
                </div>
            </article>

            <footer>
                <div class="footer_data">
                    <h4>TEAM NAME</h4>
                </div>
            </footer>
        </div>
    </div>
    </div>
</body>

</html>