
html body{
  width: auto;
  height: 100%;
  background-color: rgb(177, 177, 177);
}

.container {
	height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
	

}

.container .box {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .box header,article,footer {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .box header{
  background-color: rgb(61, 114, 160);	
	height:auto;
}

.header_content {
  border: 1px solid rgb(209, 0, 0);
}



.article_report_category_red{
  display: flex;
  flex-direction: row;
  background-color: red;
  justify-content: space-around;
  border: 1px solid rgb(21, 0, 0);
}
.article_report_category_amber{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 153, 0);
  justify-content: space-around;
  height: auto;
}
.article_report_category_green{
  display: flex;
  flex-direction: row;
  background-color: rgb(6, 161, 27);
  justify-content: space-around;
  height: auto;
}
.article_report_category_meeting{
  display: flex;
  flex-direction: row;
  background-color: rgb(112, 78, 192);
  justify-content: space-around;
  height: auto;
}
.category_red,.category_amber,.category_green,.category_meeting {
  display: flex;
  width: 20%; 
  height: 100%;
}
.entry_red,.entry_amber,.entry_green,.entry_meeting{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.container .box footer{
  text-align: center;
  height: auto;
  background-color: violet;
}
.footer_data{
  display: flex;
  text-align: center;
}
