workreport/jinja_workreport.pdf
workreport/jinja_workreport.html
database/reportic_database.sqlite
bin/__pycache__/reportic_database_class.cpython-310.pyc
bin/__pycache__/reportic_database_class.cpython-310.pyc
bin/__pycache__/reportic_database_class.cpython-310.pyc
dist/*